/* ============== import area start here =================== */

/* ============== import area end here =================== */
/* ============ css variables ============= */
:root {
  /* === font family === */
  --raleway-font: "Raleway", sans-serif;
  --montserrat-font: "Montserrat", sans-serif;
  /* === font family === */
  /* === font weight === */
  --light-weight: 300;
  --regular-weight: 400;
  --medium-weight: 500;
  --semi-bold-weight: 600;
  --bold-weight: 700;

  /* === font weight === */
  /* === colors === */
  --white-clr: #fff;
  --black-clr: #000;
  --primary-bg-clr: #f05d7b;
  --secondary-bg-clr: #cecece;
  --primary-text-clr: #222;
  --secondary-text-clr: #838383;
  --transparent-clr: transparent;
  /* === colors === */
  /* === method === */
  --transition: all 0.3s linear;
  /* === method === */
}
/* ============ css variables ============= */

/* ============= common css start here ================ */
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}
ul,
ol,
menu {
  list-style-type: none;
}
a {
  text-decoration: none;
  display: inline-block;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
menu,
div {
  margin: 0;
  padding: 0;
  line-height: 0.8;
}
img {
  vertical-align: middle;
}
.container {
  max-width: 1170px;
  margin: 0 auto;
}
/* ============= common css end here ================ */

/* ================ navbar css start here ================= */
nav {
  width: 100%;
  padding: 50px 0;
  background-color: #f9fafc;
  position: absolute;
  top: 0;
  left: 0;
}
.nav_wrapper {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: space-between;
}
.brand_logo {
  max-width: 137px;
  max-height: 26px;
}
.nav_menu_wrapper ul {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 46px;
}
.nav_link {
  color: var(--secondary-text-clr);
  font-family: var(--montserrat-font);
  font-size: 16px;
  font-weight: var(--semi-bold-weight);
  line-height: normal;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
.nav_link:hover {
  color: #8671fc;
}
/* ================ navbar css end here ================= */

/* =============== section css start here ================= */
/* =============== section css end here ================= */

/* =============== section css start here ================= */
/* =============== section css end here ================= */

/* =============== section css start here ================= */
/* =============== section css end here ================= */

/* =============== section css start here ================= */
/* =============== section css end here ================= */

/* =============== section css start here ================= */
/* =============== section css end here ================= */

/* =============== section css start here ================= */
/* =============== section css end here ================= */

/* =============== section css start here ================= */
/* =============== section css end here ================= */

/* =============== section css start here ================= */
/* =============== section css end here ================= */
